/*
 * Joshua Pendlebury
 * Assignment 2 - COMP1073
 * 2025-07-14
 */

 /* Setting default stylings */
html{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/* Removing list styling by default */
li{
    list-style: none;
}

h3{
    border-top: #fff2f1 dotted 10px;
    border-bottom: #fff2f1 dotted 10px;
    background-color: #d6ff79;
    text-align: center;
    font-size: 2em;
}

#receipts h3{
    border-top: #a09be7 dotted 10px;
    border-bottom: #a09be7 dotted 10px;
}

body{
    background-color: #fff2f1;
}

#order-form, #order-form > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}



#order-form > div > h3{
    width: 100%;
}

#flavour-select, #output{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#flavour-select{
    gap: 1em;
    margin-bottom: 10px;
}
#flavour-select label{
    margin-left: 3px;
}

/* Styling the Order button */
#order-submit{
    background-color: #d6ff79;
    padding: 10px;
    margin: 5px 0 10px;
    border-color: #c3e86f;
    border-radius: 10%;
}
#order-submit:hover{
    background-color: #c3e86f;
}
#order-submit:active{
    background-color: #b7d967;
}

#receipts{
    margin: 0 auto;
    border-top: #5f00ba dashed 3px;
    border-bottom: #5f00ba dashed 3px;
    background-color: #a09be7;
}

#output{
    gap: 4px;
    margin-bottom: 5px;
}
.receipt-container h4, .receipt-container p, .receipt-container ul{
    margin: 0;
}

/* Setting up the receipt container to properly format the receipt */
.receipt-container{
    display: grid;
    grid-template-areas: 
        "title title"
        "size basePrice"
        "flavour addPrice"
        "totalTitle total";
    grid-template-columns: 1fr 1fr;
    background-color: #f5f5f5;
    padding: 3px;
    border: #222222 solid 1px;
    /* Setting the receipt's default font to Times New Roman */
    font-family: 'Times New Roman', Times, serif;
}
/* Setting receipt grid-areas */
.receipt-title{
    grid-area: title;
    text-align: center;
}
.receipt-size{
    grid-area: size;
}
.receipt-flavours{
    grid-area: flavour;
}
.receipt-flavours li{
    /* adding "| " as the list style to imply that the flavours are attributes of the smoothie*/
    list-style: "| ";
}
.receipt-flavours-price{
    grid-area: addPrice;
}
.receipt-total-title{
    grid-area: totalTitle;
}
/* Aligning the prices to the right of the receipt */
.receipt-size-price{
    grid-area: basePrice;
    text-align: right;
}
.receipt-flavours-price li{
    text-align: right;
}
.receipt-total-price{
    grid-area: total;
    text-align: right;
}
/* Adding border above the Total line of the receipt */
.receipt-total-title,.receipt-total-price{
    border-top: #222222 solid 1px;
}